# ~/.xprofile @ hortensia
# read by xinit
# Last modified 2015-03-03

export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$UID/dbus/user_bus_socket
#export DCONF_PROFILE=${HOME}/.config/dconf/user




# xdg environment variables 
export XDG_CONFIG_HOME=${HOME}/.config
export XDG_CACHE_HOME=${HOME}/.cache
export XDG_CONFIG_DIRS=/etc/xdg
export XDG_DATA_DIRS=/usr/local/share:/usr/share
export XDG_DATA_HOME=${HOME}/.local/share
export XDG_RUNTIME_DIR=/run/user/$UID
export XDG_CURRENT_DESKTOP=MATE
export XDG_SESSION_DESKTOP=mate


# be sure variable output reflects output of tty command
TTY=$(tty)
export GPG_TTY=$TTY


export CCACHE_PATH=/usr/bin
export CCACHE_DIR=/developement/.ccache

export R_PROFILE_USER=$XDG_CONFIG_HOME/r/Rprofile.r
export R_ENVIRON_USER=$XDG_CONFIG_HOME/r/Renviron


export GNUPGHOME=$XDG_CONFIG_HOME/gnupg
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh_auth_sock
export PASSWORD_STORE_DIR=$XDG_CONFIG_HOME/password-store

export PULSE_CLIENTCONFIG=$XDG_CONFIG_HOME/pulse/client.conf

export WINEPREFIX=/drawer/system/wine
export GIMP2_DIRECTORY=/drawer/system/gimp

# move this file out of home directory
export ICEAUTHORITY=${XDG_RUNTIME_DIR}/Iceauthority
#export XAUTHORITY=${XDG_RUNTIME_DIR}/Xauthority


# Source global bash config
if test "$PS1" && test "$BASH" && test -r /etc/bash.bashrc; then
	. /etc/bash.bashrc
fi

# Termcap is outdated, old, and crusty, kill it.
unset TERMCAP

# Man is much better than us at figuring this out
unset MANPATH

 #Load profiles from /etc/profile.d
if test -d /etc/profile.d/; then
        for profile in /etc/profile.d/*.sh; do
                test -r "$profile" && . "$profile"
        done
        unset profile
fi



# add some path for UID 0
if [ $EUID -eq 0 ] ; then
	pathappend /sbin:/usr/sbin:/usr/local/sbin
	unset HISTFILE
fi
