* {
  /*font-family: "JetBrainsMono Nerd Font";*/
  font-family: "InconsolataGo Nerd Font Mono";
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: #476480;
  color: #e0e8f0;
}

/* Pilules : fond légèrement plus sombre, arrondi */
#workspaces,
#clock,
#tray,
#pulseaudio,
#custom-btc,
#custom-hype {
  background-color: #3d566d;
  padding: 0 12px;
  margin: 4px 3px;
  border-radius: 10px;
}

/* Workspaces */
#workspaces button {
  color: #c1d2e2;
  padding: 0 6px;
  border-radius: 8px;
}
#workspaces button.active {
  color: #1a1b26;
  background: #84a6c5;
}
#workspaces button:hover {
  color: #1a1b26;
  background: #93b1cc;
}
#workspaces button.empty {
  color: #7e8c9a;
}

#clock { color: #ffffff; }

#pulseaudio { color: #c1d2e2; }
#pulseaudio.muted { color: #7e8c9a; }

#custom-btc, #custom-hype { color: #eff3f7; }


#tray { background-color: #3d566d; }
#tray menu { background-color: #283949; color: #e0e8f0; }