[Unit]
Description = D-Bus System Message Bus Socket

[Socket]
ListenStream = %t/dbus/user.socket

[Install]
WantedBy=dbus.target
WantedBy=sockets.target
