[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
Type=forking
Environment=GPG_AGENT_INFO=%h/.config/gnupg/gpg-agent.info
ExecStart=/usr/bin/gpg-agent --homedir %h/.config/gnupg --daemon --write-env-file $GPG_AGENT_INFO
ExecStop=/usr/bin/pkill gpg-agent ; /usr/bin/systemctl --no-block --user unset-environment GPG_AGENT_INFO
Restart=on-abort

[Install]
WantedBy=default.target




