[Unit]
Description=ssh-agent

[Service]
ExecStart=/usr/bin/ssh-agent -d -a %t/ssh_auth_sock
# ExecStartPost=/usr/bin/ssh-add %h/.config/ssh/id_rsa
ExecStop=/usr/bin/ssh-agent -k


[Install]
WantedBy=default.target

