[Unit]
Description=Urxvt Terminal Daemon
# Before=xrdb.service
Requires=urxvtd.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/urxvtd -o -q -f

[Install]
WantedBy=default.target

