[Unit]
Description=start BitMEX Delta Server on localhost
After=network.target

[Service]
ExecStart=/usr/bin/node /developement/build/api-connectors/official-ws/delta-server/index.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
Environment=NODE_ENV=production

[Install]
WantedBy=wm.target
