[Unit]
Description=Start tmux in detached session
# Before=i3.service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d -n 'irc' 'irssi && hangups'
ExecStartPost=/usr/bin/tmux source-file /home/%u/.config/tmux/tmux.conf
ExecStop=/usr/bin/tmux kill-session 

[Install]
WantedBy=console.target
