[Unit]
Description=Urxvt Terminal Daemon
Requires=urxvtd.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/urxvtd -o -q -f

[Install]
WantedBy=console.target

